<div class="container">

  <div class="title">
    <h1>Daily Report</h1>
  </div>

  <div class="search-bar">
    <app-search-bar></app-search-bar>
  </div>

  <div class="tabs-container">
    <app-tabs></app-tabs>
  </div>
  <div class="animals-container">
    <app-animal-card></app-animal-card>
    <app-animal-card></app-animal-card>
    <app-animal-card></app-animal-card>
    <app-animal-card></app-animal-card>
    <app-animal-card></app-animal-card>
    <app-animal-card></app-animal-card>
  </div>

  <div class="bottom-bar">
    <app-filters></app-filters>
    <app-app-bar></app-app-bar>
  </div>
</div>